:root {
--highlight-colour: #007bff;
--dark-colour: #333;
--light-colour: white;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: system-ui;
line-height: 1.6;
display: flex;
flex-direction: column;
min-height: 100vh;
 }

footer {
background-color: var(--dark-colour);
color: var(--light-colour);
padding: 1rem;
}

header{
    h1{
        font-weight: 300;
    }
}

nav {
font-size: 1.2em;
background-color: var(--highlight-colour);
ul {
list-style: none;
display: flex;
gap: 1rem;
justify-content: center;
}
a {
color: var(--light-colour);
text-decoration: none;
&:hover {
text-decoration: underline;
}
}
}

main {
flex: 1;
padding: 1rem;
max-width: 80ch;
margin: 0 auto;
color: var(--dark-colour);
h2 {
font-weight: 500;
border-bottom: 2px solid var(--highlight-colour);
margin-bottom: 1rem;
}
}

footer {
text-align: center;
margin-top: 1rem;
}
